@import 'reset';
@import 'color';

.main {
    .contact {
        .contact__top {
            padding-top: 83px;

            .wrap {
                .contact__title {
                    @extend .own__title;
                    margin-bottom: 30px;
                }

                .contact__address {
                    display: flex;
                    align-items: center;

                    .address {
                        flex-direction: column;

                        .general {
                            display: flex;
                            align-items: center;
                            margin-bottom: 23px;

                            i {
                                font-size: 25px;
                                margin-right: 10px;
                            }

                            a {
                                margin-right: 40px;
                            }
                        }
                    }

                    .address:nth-child(1) {
                        margin-right: 163px;
                    }
                }
            }
        }

        .contact__bottom {
            display: flex;

            .contact__bottom__map {
                width: 50%;
            }

            .contact__bottom__form {
                width: 50%;
                padding: 55px 0 40px 60px;
                background: #000;

                .contact__bottom__title {
                    @extend .own__title2;
                    color: #fff;
                }

                .contact__form {
                    width: 375px;
                    height: 50px;
                    display: block;
                    outline: none;
                    border: 2px solid #959595;
                    background: #25251f;
                    margin-top: 25px;
                    padding-left: 15px;
                }


                .btn {
                    text-transform: uppercase;
                    color: #000;
                    background: #fff;
                    border: none;
                    padding: 18px 23px;
                    margin-top: 25px;
                }
            }
        }
    }
}

@import 'mediaContact';